.social ul {
	list-style: none;
}

.social ul li a {
	display: inline-block;
	color: rgb(255, 255, 255);
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	transition: all 500ms ease;
}

.social ul li .icon-facebook2 {
	background: #3b5998;
}

.social ul li .icon-whatsapp {
	background: #04f310;
}

.social ul li .icon-instagram {
	background: #e20f9c;

}

.social ul li .icon-twitter {
	background: #186aae;
}

.social ul li .icon-mail2 {
	background: #e40b1d;
}

.social ul li a:hover {
	padding: 10px 30px;
	background: rgb(46, 45, 45);
}